.topmenu li, #navcontainer li { margin: 0px; }
.breadcrumbs { clear: both; margin: 1em 0px; }
.padnew { margin: 1em 0px; }
#dw__search button { margin-top: 0.85em; }
.claim { display: inline-block; }
.page li:hover { display: inline-block; }
.toolbutton { padding: 8px; margin: 3px; }
li, dd { margin: 0.85em 0 0 0.85em }
#dw__toc { padding: 8px; }
.page li, .page dd { display: block; margin: 0.35em 0px 0px 0.85em; }
#writtensidebar a:link, #writtensidebar a:visited { background-image: none; padding: 0px; }
.headerpane a:link, .headerpane a:visited { color: __textcolour__; }
#navlist li, #writtensidebar li { width: 100%; }
#dw__toc { background-color: __background_alt__; }

.popup body { background-color: __containerback__; background-image: none; }
.qq-upload-button { background-color: __formfieldback__; }
#media__content .odd, .odd { background-color: __background_alt__; }

#writtensidebar li { background-image: none; }
#writtensidebar li:hover { cursor: unset; }
textarea { font-family: 'Courier New', monospace; }

#writtensidebar a:hover {
  background-image: url('images/____{imagesubfolder}/topmenu-itemon.png');
  background-size: cover;
  box-sizing: border-box;
}

#writtensidebar a:link, #writtensidebar a:visited {
  display: block;
  padding: 16px;
  /*background-color: __sidebarmenuoptionback__;*/
  border-bottom: 1px solid __border__;

  color: __textcolour__;
  text-decoration: none;


}

#mediamanager__page .file { width: 100%; clear: both; }
#mediamanager__page { min-width: 39em; }
/* .page li, .page dd { margin: 0.85em 0px !important; } */
button { margin: 8px 3px; }



/* desbest edit */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
    width: 100%;
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }

  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 50%;  }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 75%; 
  }

  .header-img { inset: 0px auto auto 0px !important } /* arcade basic specific */
}
/* ---- end desbest edit ---- */
